fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
python-dotenv

pydantic
email-validator
python-multipart

python-jose[cryptography]
passlib[bcrypt]
bcrypt

requests

numpy
pandas
scikit-learn
joblib
sentence-transformers