fastapi
uvicorn
pydantic
pydantic[email]
email-validator
python-multipart

sqlalchemy
alembic
psycopg2-binary
python-dotenv

python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1

numpy
pandas
scikit-learn
joblib

sentence-transformers
faiss-cpu
requests
