fastapi
uvicorn
pydantic
email-validator
python-multipart

sqlalchemy
alembic
psycopg2-binary
python-dotenv

python-jose[cryptography]
passlib[bcrypt]
bcrypt
numpy
pandas
scikit-learn
joblib

sentence-transformers
google-generativeai
google-genai
